# @datf addons

## Installation

Use the following URL to add this repository to your Home Assistant:

```txt
{{ repo }}
```

## Apps provided by this repository

{% for addon in addons %}
### &#10003; {{ addon.name }}

{{ addon.description }}

{% endfor %}
## Releases

Releases are based on Semantic Versioning, and use the format of
``MAJOR.MINOR.PATCH``. In a nutshell, the version will be incremented based on
the following:

- ``MAJOR``: Incompatible or major changes.
- ``MINOR``: Backwards-compatible new features and enhancements.
- ``PATCH``: Backwards-compatible bugfixes and package updates.
